################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build
/src/MarBasAPI/authsettings.*
/src/MarBasAPI/Data/*
!/src/MarBasAPI/Data/.gitkeep
/src/MarBasAPI/wwwroot/*
!/src/MarBasAPI/wwwroot/.gitkeep
*.user
MarBasBrokerEnginesDebug.sln
/srcdbg
/distr

.fake
.DS_Store
nuget.config
