name: marbas

services:
 
  pgdb:
    image: postgres:latest
    hostname: postgres
    ports:
      - 5432:5432
    restart: unless-stopped
    env_file: db.env
    volumes:
      - ./scripts:/scripts
      - ./docker-init:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql
 
  pgadmin:
    image: dpage/pgadmin4:latest
    hostname: pgadmin
    restart: unless-stopped
    environment:
       PGADMIN_LISTEN_ADDRESS: 0.0.0.0
       PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
       PGADMIN_DEFAULT_PASSWORD: admin
       PGADMIN_CONFIG_ENABLE_PSQL: 'True'
    ports:
      - 5050:80
    depends_on:
      - pgdb
    volumes:
      - pgadmin:/var/lib/pgadmin
    tty: true


volumes:
    pgdata:
    pgadmin:


